<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム</title>
</head>
<body>
  <ul>
    <li><a href="/register">アカウント作成</a></li>
    <li><a href="/login">ログイン</a></li>
    <li><a href="/index">ホーム</a></li>
    <li><a href="/pass-update">パスワード変更</a></li>
  </ul>
  ようこそ
</body>
</html>