<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム</title>
</head>
<body>
  <ul>
    <li><a href="/register">アカウント作成</a></li>
    <li><a href="/login">ログイン</a></li>
    <li><a href="/index">ホーム</a></li>
    <li><a href="/pass-update">パスワード変更</a></li>
  </ul>

  <form action="/register" method="post">
     <div>
       <label for="username">ユーザー名：</label>
       <input type="text" name="username" id="username">
     </div>
     <div>
       <label for="email">メールアドレス：</label>
       <input type="email" name="email" id="email">
     </div>
     <div>
       <label for="password">パスワード：</label>
       <input type="password" name="password" id="password">
     </div>

     <button>登録</button>
  </form>
</body>
</html>